.about-company {
  background-image: url("../img/about-back.jpg");
  background-repeat: repeat;
}

.about-company__title {
  margin: 0;
  padding: 3px 0;
}

.about-company__content {
  padding: 15px 40px;
}

.about-company__text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;

  &--title {
    font-weight: 700;
  }

  &--idea {
    padding-right: 200px;
    margin-right: 20px;
    background-image: url("../img/idea-pic.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  &--like {
    padding-left: 200px;
    margin-left: 20px;
    background-image: url("../img/like-pic.png");
    background-repeat: no-repeat;
    background-position: left;
  }

  &--slogan {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.about-company__button {
  display: none;
  color: #ffffff;
  padding: 5px 10px;
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 14px;
  background-color: #385587;
  box-shadow: 0 5px 10px 0 rgba(0, 40, 120, 0.35);
  border: none;
  border-radius: 2px;
}

@media (max-width: 500px) {
  .about-company__content {
    padding: 15px;
  }

  .about-company__text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 18px;

    &--idea {
      padding-right: 0;
      margin-right: 0;
      background: none;
    }

    &--like {
      padding-left: 0;
      margin-left: 0;
      background: none;
    }
  }

  .about-company__button {
    display: block;
  }
}
