.additional-page {
  padding: 20px;
  border: 20px solid #19a6bb;
  background-color: #ffffff;

  &--ribbon {
    border: 20px solid #815185;
  }

  &--sticker {
    border: 20px solid #5680b0;
  }
}

@media (max-width: 500px) {
  .additional-page {
    padding: 10px;
    border: 10px solid #19a6bb;

    &--ribbon {
      border: 10px solid #815185;
    }

    &--sticker {
      border: 10px solid #5680b0;
    }
  }
}
