.page-banner {
  font-family: "Tahoma", "Arial", sans-serif;
}

.page-banner__item {
  position: relative;
  width: 1300px;
  height: 498px;

  img {
    width: 100%;
  }
}

.page-banner__text {
  position: absolute;
  margin: 0;
  top: 40px;
  left: 550px;
  width: 700px;
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #fc5a5a;
  text-transform: uppercase;
  text-shadow: 0 2px 5px rgba(0, 40, 120, 0.76);

  &--price {
    font-size: 35px;
    line-height: 50px;
    top: 290px;
    left: 580px;
    color: #6b3b6f;
  }
}

.page-banner__button {
  position: absolute;
  display: block;
  bottom: 65px;
  right: 250px;
  margin-top: 25px;
  padding: 20px 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }
}

@media (max-width: 500px) {
  .page-banner__item {
    width: 500px;
    height: 259px;
  }

  .page-banner__text {
    position: absolute;
    margin: 0;
    top: 5px;
    left: 30%;
    width: 65%;
    font-size: 5vw;
    text-align: right;
    line-height: 8vw;

    &--price {
      font-size: 2.5vw;
      line-height: 4vw;
      top: 65%;
      left: 30%;
      color: #6b3b6f;
    }
  }

  .page-banner__button {
    bottom: 9%;
    left: 70%;
    width: 16%;
    margin-top: 0;
    padding: 9px 15px;
    font-size: 2.5vw;
    text-align: center;
  }
}
