.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #e6f8fb;
}

.page-header__container {
  display: flex;
  flex-direction: row;
}

.page-header__logo-container {
  display: flex;
  flex-direction: row;
}

.page-header__logo {
  width: 200px;
}

.page-header__logo-image {
  &:hover {
    animation: logo-move 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

.page-header__contacts {
  display: flex;
  flex-direction: row;
  width: 480px;
}

.page-header__contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;

  &--buttons {
    margin-right: 0;
  }
}

.page-header__contacts-item {
  position: relative;
  font-size: 23px;
  margin-bottom: 10px;
  padding-left: 17px;
  color: #88112f;
  text-decoration: none;

  &--work {
    margin-bottom: 5px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 18px;
    color: #000000;

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 3px;
      width: 15px;
      height: 14px;
      background-image: url("../img/icon-phone-1.png");
      background-repeat: no-repeat;
    }
  }
}

.page-header__contacts-button {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 21px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(77deg, rgb(255, 143, 90) 0%, rgb(255, 47, 150) 99%);
  background-color: #ff4e2e;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #3b1a7d;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

  &:active {
    box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
  }

  &--write {
    margin-top: 10px;
    background: linear-gradient(77deg, rgb(90, 251, 120) 0%, rgb(38, 157, 61) 99%);
    background-color: #30b94a;
    box-shadow: 0 2px 2px 0 rgba(24, 150, 0, 0.64);

    &:hover {
      box-shadow: 0 2px 2px rgba(24, 150, 0, 1);
    }

    &:active {
      box-shadow: inset 0 2px 2px 0 rgba(24, 150, 0, 1);
    }
  }
}

.page-header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 550px;
  margin: 0;
  padding-top: 5px;
  list-style: none;

  li {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.page-header__catalog-list {
  display: none;
  position: absolute;
  top: 25px;
  left: -22px;
  padding: 0;
  margin: 0;
  width: 150px;
  background-color: #ffffff;
  list-style: none;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 5px;

  li {
    width: 150px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #7596aa;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: #7b85a5;
    }

    &:focus {
      background-color: #7b85a5;
    }

    &:hover a {
      color: #ffffff;
    }

    &:focus a {
      color: #ffffff;
    }
  }

  a {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 0;
    padding-left: 15px;
    border-radius: 0;
    color: #000000;
    text-decoration: none;
  }
}

.page-header__list-item {
  font-size: 17px;
  font-weight: 600;
  line-height: 19px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #4f5c88;
    text-decoration: underline;
    animation: text-shadow-drop-center 0.6s both;
  }

  &:focus {
    color: #4f5c88;
    text-decoration: underline;
    animation: text-shadow-drop-center 0.6s both;
  }
}

.page-header__catalog {
  position: relative;
  min-height: 30px;

  &:hover .page-header__catalog-list {
    display: block;
    z-index: 50;
  }

  &:focus .page-header__catalog-list {
    display: block;
    z-index: 50;
  }
}

.page-header__slogan {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #bc0579;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(160, 32, 11, 0.76);

  p {
    margin: 0;
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(240, 98, 94, 0.35);
  }
}


@keyframes logo-move {
  0% {
    transform: rotate(25deg);
  }

  25% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.page-header__nav-toggle {
  display: none;
  width: 41px;
  height: 40px;
  font-size: 0;
  background-repeat: no-repeat;
  background-color: #e6f8fb;
  border: none;
}

.page-header--opened .page-header__nav-toggle {
  background-image: url("../img/icon-menu-close.png");
}

.page-header--closed .page-header__nav-toggle {
  background-image: url("../img/icon-menu-open.png");
}

@media (max-width: 500px) {
  .page-header {
    flex-direction: column;
    padding: 5px 0;
    padding-bottom: 0;
  }

  .page-header__container {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .page-header__logo-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 152, 152, 0.7);
  }

  .page-header__logo {
    width: 150px;
  }

  .page-header__contacts {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__contacts-container {
    width: 170px;
    order: 1;

    &--buttons {
      width: 140px;
      flex-direction: row;
      justify-content: space-around;
      order: 2;
    }
  }

  .page-header__contacts-item {
    margin-bottom: 5px;
    font-size: 16px;

    &--work {
      display: none;
    }
  }

  .everyday {
    display: none;
  }

  .page-header__contacts-button {
    font-size: 0;
    width: 43px;
    height: 43px;
    padding: 2px 2px;
    border-radius: 50px;
    background-image: url("../img/icon-phone-4.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-sizing: content-box;

    &--write {
      margin-top: 0;
      background-image: url("../img/icon-whatsapp-2.png");
    }
  }

  .page-header__nav-toggle {
    display: block;
  }

  .page-header--nojs .page-header__nav-toggle {
    display: none;
  }

  .page-header--closed .page-header__nav {
    display: none;
  }

  .page-header--opened .page-header__nav {
    display: block;
  }

  .page-header--nojs .page-header__nav {
    display: block;
  }


  .page-header__nav {
    position: relative;
    margin-top: 10px;
    border-top: 2px dotted #2fa1b4;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }

  .page-header__nav-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 5px;

    li {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .page-header__list-item {
    font-size: 17px;
    line-height: 19px;
    color: #3e3a3c;

    &:hover {
      color: #4d3ebc;
      text-decoration: underline;
      animation: text-shadow-drop-center 0.6s both;
    }

    &:focus {
      color: #ce2853;
      text-decoration: underline;
      animation: text-shadow-drop-center 0.6s both;
    }
  }

  .page-header__catalog {
    min-height: 0;

    &:hover .page-header__catalog-list {
      display: none;
    }

    &:focus .page-header__catalog-list {
      display: none;
    }
  }

  .page-header__slogan {
    display: none;
  }
}
