.privacy-policy {
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
  }

  p {
    text-align: justify;
  }
}

.privacy-policy__sub-paragraph {
  margin-left: 10px;
}

.privacy-policy__main-title {
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
}
