.tags-form {
  position: relative;
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: "Roboto", "Arial", sans-serif;

  &--ribbon {
    min-height: 550px;
    max-height: 600px;
  }

  &--sticker {
    min-height: 640px;
    max-height: 650px;
  }
}

.tags-form__fieldset {
  width: 600px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;

  legend {
    padding: 0;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.tags-form__fieldset-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--ribbon {
    width: 500px;
  }
}

.tags-form__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #471057;

  &--ribbon {
    color: #19a6bb;
  }

  &--sticker {
    color: #279348;
  }


  &--pic {
    display: block;
    margin-bottom: 20px;
  }
}

.tags-form__list {
  margin-right: 10px;
  margin-bottom: 5px;

  &--ribbon {
    width: 45px;
    height: 45px;
  }

  label {
    position: relative;
    padding-left: 22px;
  }
}

.tags-form__input {
  padding: 10px;
  width: 250px;
  font-size: 15px;
  border: 2px solid #a0939e;
  border-radius: 20px;
  box-sizing: border-box;

  &--amount {
    width: 100px;
  }

  &:hover {
    border: 2px solid rgba(194, 76, 143, 1);
  }

  &:focus {
    border: 2px solid rgba(194, 76, 143, 1);
  }
}

.tags-form__input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2.5px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-sizing: border-box;
}

.tags-form__input-radio:hover + label::before {
  border: 2.5px solid rgba(0, 0, 0, 1);
}

.tags-form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: rgba(194, 76, 143, 0.7);
  border-radius: 20px;
}

.tags-pic {
  width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags-pic__label {
  position: relative;
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
  padding-left: 2px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 20px;
  vertical-align: middle;
  border: 3px solid #000000;
  border-radius: 10px;

  &--none {
    justify-content: center;
  }

  &:hover {
    border: 3px dotted #c24c8f;
  }

  &:focus {
    border: 3px dotted #c24c8f;
  }
}

.tags-pic__input:checked + .tags-pic__label {
  border: 3px solid #c24c8f;
}

.tags-pic__input + .tags-pic__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite.png");
}

.tag-pic0 + .tags-pic__label::before {
  background-image: none;
}

.tag-pic1 + .tags-pic__label::before {
  background-position: -50px 0;
}

.tag-pic2 + .tags-pic__label::before {
  background-position: -150px -100px;
}

.tag-pic3 + .tags-pic__label::before {
  background-position: -100px -200px;
}

.tag-pic4 + .tags-pic__label::before {
  background-position: -150px -200px;
}

.tag-pic5 + .tags-pic__label::before {
  background-position: -200px -200px;
}

.tag-pic6 + .tags-pic__label::before {
  background-position: -250px 0;
}

.tag-pic7 + .tags-pic__label::before {
  background-position: -250px -50px;
}

.tag-pic8 + .tags-pic__label::before {
  background-position: -250px -100px;
}

.tag-pic9 + .tags-pic__label::before {
  background-position: -250px -150px;
}

.tag-pic10 + .tags-pic__label::before {
  background-position: -100px -150px;
}

.tag-pic11 + .tags-pic__label::before {
  background-position: 0 -50px;
}

.tag-pic12 + .tags-pic__label::before {
  background-position: -50px -50px;
}

.tag-pic13 + .tags-pic__label::before {
  background-position: -100px 0;
}

.tag-pic14 + .tags-pic__label::before {
  background-position: -100px -50px;
}

.tag-pic15 + .tags-pic__label::before {
  background-position: 0 -100px;
}

.tag-pic16 + .tags-pic__label::before {
  background-position: -50px -100px;
}

.tag-pic17 + .tags-pic__label::before {
  background-position: -100px -100px;
}

.tag-pic18 + .tags-pic__label::before {
  background-position: -150px 0;
}

.tag-pic19 + .tags-pic__label::before {
  background-position: -150px -50px;
}

.tag-pic20 + .tags-pic__label::before {
  background-position: 0 -150px;
}

.tag-pic21 + .tags-pic__label::before {
  background-position: -50px -150px;
}

.tag-pic22 + .tags-pic__label::before {
  background-position: 0 0;
}

.tag-pic23 + .tags-pic__label::before {
  background-position: -150px -150px;
}

.tag-pic24 + .tags-pic__label::before {
  background-position: -200px 0;
}

.tag-pic25 + .tags-pic__label::before {
  background-position: -200px -50px;
}

.tag-pic26 + .tags-pic__label::before {
  background-position: -200px -100px;
}

.tag-pic27 + .tags-pic__label::before {
  background-position: -200px -150px;
}

.tag-pic28 + .tags-pic__label::before {
  background-position: 0 -200px;
}

.tag-pic29 + .tags-pic__label::before {
  background-position: -50px -200px;
}

.font1 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

.font2 {
  font-family: "Nina", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.font3 {
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 18px;
}

.font4 {
  font-family: "Gungsuh", serif;
  font-weight: 700;
  font-style: italic;
}

.font5 {
  font-family: "Monotype Corsiva", serif;
  font-weight: 700;
  font-size: 20px;
}

.font6 {
  font-family: "Segoe Script Bold", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
}

.font7 {
  font-family: "Times New Roman", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}

.color1 {
  color: black;
}

.color2 {
  color: red;

  &::before {
    background-image: url("../img/sprite-small-red.png");
  }
}

.color3 {
  color: blue;

  &::before {
    background-image: url("../img/sprite-small-blue.png");
  }
}

.color4 {
  color: green;

  &::before {
    background-image: url("../img/sprite-small-green.png");
  }
}

.small-color1 {
  color: black;

  &::before {
    background-image: url("../img/sprite-mini-black.png");
  }
}

.small-color2 {
  color: red;

  &::before {
    background-image: url("../img/sprite-mini-red.png");
  }
}

.small-color3 {
  color: blue;

  &::before {
    background-image: url("../img/sprite-mini-blue.png");
  }
}

.small-color4 {
  color: green;

  &::before {
    background-image: url("../img/sprite-mini-green.png");
  }
}

.ribbon-font-color1 {
  color: black;
}

.ribbon-font-color2 {
  color: red;

  &::before {
    background-image: url("../img/sprite-ribbons-red.png");
  }
}

.ribbon-font-color3 {
  color: blue;

  &::before {
    background-image: url("../img/sprite-ribbons-blue.png");
  }
}

.ribbon-font-color4 {
  color: green;

  &::before {
    background-image: url("../img/sprite-ribbons-green.png");
  }
}

.tags-form__button {
  position: absolute;
  bottom: -80px;
  left: 250px;
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  width: 210px;
  line-height: 21px;
  padding: 15px;
  border: none;
  background: linear-gradient(77deg, rgb(149, 106, 165) 0%, rgb(89, 8, 119) 99%);
  background-color: #ff4e2e;
  box-shadow: 0 2px 2px 0 rgba(110, 71, 125, 0.64);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #000000;
    box-shadow: 0 2px 2px rgba(110, 71, 125, 1);
  }

  &:active {
    box-shadow: inset 0 2px 2px 0 rgba(57, 3, 77, 1);
  }

  &--ribbon {
    bottom: -100px;
    background: linear-gradient(77deg, rgb(120, 197, 209) 0%, rgb(29, 133, 149) 99%);
    box-shadow: 0 2px 2px 0 rgba(27, 117, 130, 0.64);

    &:hover {
      box-shadow: 0 2px 2px rgba(27, 117, 130, 1);
    }

    &:active {
      box-shadow: inset 0 2px 2px 0 rgba(19, 84, 94, 1);
    }
  }

  &--sticker {
    bottom: -80px;
    background: linear-gradient(77deg, rgb(140, 206, 160) 0%, rgb(45, 119, 67) 99%);
    box-shadow: 0 2px 2px 0 rgba(63, 129, 83, 0.64);

    &:hover {
      box-shadow: 0 2px 2px rgba(63, 129, 83, 1);
    }

    &:active {
      box-shadow: inset 0 2px 2px 0 rgba(26, 84, 44, 1);
    }
  }
}

.ribbons-form__input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #cf6e82;
  box-sizing: border-box;
}

.ribbons-form__input-radio:checked + label::before {
  width: 38px;
  height: 38px;
}

.ribbons-form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -4.5px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 2px solid #388f2f;
}

.ribbons-form__input-radio--2 + label::before {
  background-color: #e087b7;
}

.ribbons-form__input-radio--3 + label::before {
  background-color: #ab82c3;
}

.ribbons-form__input-radio--4 + label::before {
  background-color: #b88c63;
}

.ribbons-form__input-radio--5 + label::before {
  background-color: #be9b47;
}

.ribbons-form__input-radio--6 + label::before {
  background-color: #cecc9c;
}

.ribbons-form__input-radio--7 + label::before {
  background-color: #cebb9b;
}

.ribbons-form__input-radio--8 + label::before {
  background-color: #e2a783;
}

.ribbons-form__input-radio--9 + label::before {
  background-color: #43a7ba;
}

.ribbons-form__input-radio--10 + label::before {
  background-color: #497898;
}

.ribbons-form__input-radio--11 + label::before {
  background-color: #6e578d;
}

.ribbons-form__input-radio--12 + label::before {
  background-color: #6fb99e;
}

.ribbons-form__input-radio--13 + label::before {
  background-color: #b4c1ca;
}

.ribbon-color1 {
  background-color: #cf6e82;
}

.ribbon-color2 {
  background-color: #e087b7;
}

.ribbon-color3 {
  background-color: #ab82c3;
}

.ribbon-color4 {
  background-color: #b88c63;
}

.ribbon-color5 {
  background-color: #be9b47;
}

.ribbon-color6 {
  background-color: #cecc9c;
}

.ribbon-color7 {
  background-color: #cebb9b;
}

.ribbon-color8 {
  background-color: #e2a783;
}

.ribbon-color9 {
  background-color: #43a7ba;
}

.ribbon-color10 {
  background-color: #497898;
}

.ribbon-color11 {
  background-color: #6e578d;
}

.ribbon-color12 {
  background-color: #6fb99e;
}

.ribbon-color13 {
  background-color: #b4c1ca;
}

.stickers-form__input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid gray;
  background-color: #87e2f5;
  box-sizing: border-box;
}

.stickers-form__input-radio:checked + label::before {
  width: 38px;
  height: 38px;
}

.stickers-form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -4.5px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 2px solid #388f2f;
}

.stickers-form__input-radio--2 + label::before {
  background-color: #a8eaac;
}

.stickers-form__input-radio--3 + label::before {
  background-color: #d7b7e8;
}

.stickers-form__input-radio--4 + label::before {
  background-color: #f7f75b;
}

.stickers-form__input-radio--5 + label::before {
  background-color: #ffffff;
}
