@font-face {
  font-family: "Franklin Gothic Demi";
  src:
    url("../fonts/a8454800d02829dd275e52ec3f068227.woff") format("woff"),
    url("../fonts/a8454800d02829dd275e52ec3f068227.woff2") format("woff2");
}

@font-face {
  font-family: "Segoe Script Bold";
  src:
    url("../fonts/SegoeScriptBold.woff") format("woff"),
    url("../fonts/SegoeScriptBold.woff2") format("woff2");
}

@font-face {
  font-family: "Monotype Corsiva";
  src: url("../fonts/MTCORSVA.woff") format("woff");
}

@font-face {
  font-family: "Gungsuh";
  src:
    url("../fonts/7f8d733df30d1a25b22b03523640f538.woff") format("woff"),
    url("../fonts/7f8d733df30d1a25b22b03523640f538.woff2") format("woff2");
}

@font-face {
  font-family: "Nina";
  src:
    url("../fonts/8d711bb0729e6437fbafab2c1da8c2a0.woff") format("woff"),
    url("../fonts/8d711bb0729e6437fbafab2c1da8c2a0.woff2") format("woff2");
}
