body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("../img/body-back3.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden,
label.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
